<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <script type="text/javascript" src="../../../../libs/vue/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <h1>Hello, Vue.js!</h1>
            <h1 v-if="yes">Yes!</h1>
            <h1 v-if="no">No!</h1>
            <h1 v-else></h1>
            <h1 v-if="age >= 25">Age: {{ age }}</h1>
            <h1 v-if="name.indexOf('jack') >= 0">Name: {{ name }}</h1>
            <!--click事件直接绑定一个方法-->
            <button v-on:click="greet">Greet</button>
            <!--click事件使用内联语句-->
            <button @click="say('Tom')">Hi</button>
        </div>
    </body>
    
    <script>
        
        var vm = new Vue({
            el: '#app',
            data: {
                yes: true,
                no: false,
                age: 28,
                name: 'keepfool',
                greet: function(){
                    console.log(111);
                },
                say: function(args){
                    console.log(args);
                }
            },
            methods: {
                greet: function(){
                    console.log(333);
                },
                say: function(){
                    console.log(444);
                }                
            }
        })
    </script>
</html>